            <!-- Header PArt -->
<!-- ************************************************* -->
<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link  rel="stylesheet" type="text/css" href="/stylesheet/app.css">
	<!-- <style type="text/css"></style> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<!-- ******************************** HEader Ends************************************** -->
	                           
	                           <!-- Navbar  -->
	<!-- ================================================================ -->
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item">
				<i class="rss icon"></i>Blog Site
			</div>
			<a class="item" href="/blogs">Home</a>
			<a class="item" href="/blogs/new">New Post</a>
			<a class="item" href="/login">Login</a>
			<a class="item" href="/register">Sign Up</a>
			<a class="item" href="/logout">Logout</a>
		</div>
  
</div>
	
	<!-- *********************** Navbar Ends***************************************** -->
	<div id="mainContainer" class="holder">
		<%=cu%>
		
		<%Blog.forEach(function(Blog){%>
				<div class="container mt-5 border border-dark">
						<h2 style="color: rgb(86, 215, 247);">
							<%=Blog.title%>
						</h2>

						<img src="<%=Blog.image%>">

					<div class= name>

						<h2 style="color: rgb(250, 6, 6);">
							By:- <%=Blog.uname%>
						</h2>
						<a href="/blogs/<%=Blog._id%>" class="btn btn-primary">Show more</a>
					
					</div>

				</div>
		<%})%>

	</div>

	<div class ="foot">

		<h1 style="color: rgb(247, 242, 0);">Gotcha !! You HAve Reched The End </h1>
		
	</div>
	
<!-- 	
	         Footer PArt
	=========================================== -->

	</body>
</html>

